@use "sass:color";

$jsconfirm-white: #fff !default;
$jsconfirm-black: #000 !default;
$jsconfirm-outline-color: rgba(100, 150, 200, 0.5) !default;
$gray-100: #E5E5E5 !default;
$gray-900: #191919 !default;
$black: #000;
$white: #fff;
$indigo:			#6610F2 !default;
$purple:			#a630e0 !default;
$pink:				#fa1a70 !default;
$red:				#ea0000 !default;
$orange:			#FF7300 !default;
$yellow:			#ffc107 !default;
$green:				#00ea00 !default;
$blue:				#00dfff !default;
$light-gray:		#e5e5e5 !default;
$dark-gray:			#1b1b1b !default;
$blue-hover:		mix(black, $blue, 15%) !default;
$green-hover:		mix(black, $green, 10%) !default;
$red-hover:			mix(black, $red, 10%) !default;
$yellow-hover:		mix(black, $yellow, 10%) !default;
$purple-hover:		mix(black, $purple, 10%) !default;
$light-gray-hover:	mix(black, $light-gray, 20%) !default;
$dark-gray-hover:	mix(white, $dark-gray, 5%) !default;
$blue-alpha:		change-color($blue, $alpha: 0.5) !default;
$green-alpha:		change-color($green, $alpha: 0.5) !default;
$red-alpha:			change-color($red, $alpha: 0.5) !default;
$yellow-alpha:		change-color($yellow, $alpha: 0.5) !default;
$purple-alpha:		change-color($purple, $alpha: 0.5) !default;
$light-gray-alpha:	change-color($light-gray, $alpha: 0.5) !default;
$dark-gray-alpha:	change-color(mix(white, $dark-gray, 40%), $alpha: 0.5) !default;

$glow-white: rgba(255, 255, 255, 0.3);
// CONTAINER
$jsconfirm-container-padding: 0 !default;

// POPUP
$jsconfirm-width: 400px !default;
$jsconfirm-padding: 10px !default;
$jsconfirm-border: none !default;
$jsconfirm-color: #fff !default;
$jsconfirm-border-radius: 16px !default;
$jsconfirm-box-shadow: 0 0 20px 10px #0009, inset 1px -1px 0 1px #0009 !default;

// ANIMATIONS
$jsconfirm-show-animation: jsconfirm-show 0.5s !default;
$jsconfirm-hide-animation: jsconfirm-hide 0.5s forwards !default;

// BACKGROUND
$jsconfirm-background: #333 !default;

// TYPOGRAPHY
$jsconfirm-font: inherit !default;
$jsconfirm-font-size: 14px !default;

// BACKDROP
$jsconfirm-backdrop: #18181899 !default;
$jsconfirm-backdrop-transition: backdrop-filter 500ms, background-color 500ms;
$jsconfirm-backdrop-filter: blur(8px);

// ICONS
$jsconfirm-icon-size: 31px !default;
$jsconfirm-icon-animations: true !default;
$jsconfirm-icon-margin: 0 !default;
// $jsconfirm-icon-margin: 2.5em auto 0.6em !default;
$jsconfirm-icon-font-family: inherit !default;
$jsconfirm-icon-font-size: 3.75em !default;
$jsconfirm-icon-border-color: #000 !default;
$jsconfirm-icon-zoom: null !default;
$jsconfirm-success: $green !default;
$jsconfirm-error: $red !default;
$jsconfirm-warning: $yellow !default;
$jsconfirm-info: $light-gray !default;
$jsconfirm-question: $blue !default;

// IMAGE
$jsconfirm-image-margin: 0 auto !default;
$jsconfirm-image-border-radius: 6px !default;

// TITLE
$jsconfirm-title-position: relative !default;
$jsconfirm-title-max-width: 100% !default;
$jsconfirm-title-margin: 0 !default;
$jsconfirm-title-padding: 0 80px 0 0 !default;
$jsconfirm-title-color: #fff !default;
$jsconfirm-title-font-size: 20px !default;
$jsconfirm-title-font-weight: 600 !default;
$jsconfirm-title-text-align: left !default;

// HTML CONTAINER
$jsconfirm-html-container-justify-content: left !default;
$jsconfirm-html-container-margin: 0 !default;
// $jsconfirm-html-container-margin: 1em 1.6em 0.3em !default;
$jsconfirm-html-container-padding: 0 !default;
$jsconfirm-html-container-overflow: auto !default;
$jsconfirm-html-container-color: inherit !default;
$jsconfirm-html-container-font-size: 14px !default;
$jsconfirm-html-container-font-weight: 400 !default;
$jsconfirm-html-container-line-height: 21px !default;
$jsconfirm-html-container-text-align: left !default;
$jsconfirm-html-container-word-wrap: break-word !default;
$jsconfirm-html-container-word-break: break-word !default;

// INPUT
$jsconfirm-input-margin: 0 !default;
$jsconfirm-input-width: 100% !default;
$jsconfirm-input-height: 30px !default;
$jsconfirm-input-padding: 0 8px !default;
$jsconfirm-input-border: 1px solid #111 !default;
$jsconfirm-input-border-radius: 6px !default;
$jsconfirm-input-box-shadow: 0 0 0 0 transparent !default;
$jsconfirm-input-font-size: 14px !default;
$jsconfirm-input-font-weight: 500 !default;
$jsconfirm-input-background: #222 !default;
$jsconfirm-input-color: inherit !default;
$jsconfirm-input-transition: border-color 0.4s, box-shadow 0.5s !default;

// INPUT:FOCUS
$jsconfirm-input-focus-border: 1px solid var(--jsconfirm-primary, #fff) !default;
$jsconfirm-input-focus-outline: none !default;
$jsconfirm-input-focus-box-shadow: 0 0 0 3px var(--jsconfirm-alpha, change-color($white, $alpha: 0.4)) !default;

// TEXTAREA SPECIFIC VARIABLES
$jsconfirm-textarea-height: 6.75em !default;
$jsconfirm-textarea-padding: 0.75em !default;

// INPUT LABEL
$jsconfirm-input-label-margin: 0 !default;
$jsconfirm-input-label-justify-content: left !default;
$jsconfirm-input-label-font-size: 16px !default;
$jsconfirm-input-label-font-weight: 600 !default;

// VALIDATION MESSAGE
$jsconfirm-validation-message-align-items: center !default;
$jsconfirm-validation-message-justify-content: center !default;
$jsconfirm-validation-message-margin: 0 !default;
$jsconfirm-validation-message-padding: 4px !default;
$jsconfirm-validation-message-background: $gray-900 !default;
$jsconfirm-validation-message-color: $light-gray !default;
$jsconfirm-validation-message-font-size: 16px !default;
$jsconfirm-validation-message-font-weight: 500 !default;
$jsconfirm-validation-message-icon-background: none !default;
$jsconfirm-validation-message-icon-border: $red !default;
$jsconfirm-validation-message-icon-color: $red !default;
$jsconfirm-validation-message-icon-size: 24px !default;
$jsconfirm-validation-message-icon-zoom: null !default;
$jsconfirm-validation-message-border: 1px solid transparent !default;
$jsconfirm-validation-message-border-radius: 6px !default;

// PROGRESS STEPS
$jsconfirm-progress-steps-flex-wrap: wrap !default;
$jsconfirm-progress-steps-align-items: center !default;
$jsconfirm-progress-steps-max-width: 100% !default;
$jsconfirm-progress-steps-background: transparent !default;
$jsconfirm-progress-steps-margin: 1.25em auto !default;
$jsconfirm-progress-steps-padding: 0 !default;
$jsconfirm-progress-steps-font-weight: 600 !default;
$jsconfirm-progress-steps-distance: 2.5em !default;
$jsconfirm-progress-step-width: 2em;
$jsconfirm-progress-step-height: 2em;
$jsconfirm-progress-step-border-radius: 2em;
$jsconfirm-progress-step-background: #add8e6 !default;
$jsconfirm-progress-step-color: $jsconfirm-white !default;
$jsconfirm-active-step-background: #2778c4 !default;
$jsconfirm-active-step-color: $jsconfirm-white !default;

// FOOTER
$jsconfirm-footer-margin: 1em 0 0 !default;
$jsconfirm-footer-padding: 1em 1em 0 !default;
$jsconfirm-footer-border-color: #eee !default;
$jsconfirm-footer-color: inherit !default;
$jsconfirm-footer-font-size: 1em !default;
$jsconfirm-footer-text-align: center !default;

// TIMER POGRESS BAR
$jsconfirm-timer-progress-bar-height: 5px;
$jsconfirm-timer-progress-bar-track: #FFF0 !default;
$jsconfirm-timer-progress-bar-fill: #FFF2 !default;

// TIMER POGRESS CIRCLE
$jsconfirm-timer-progress-circle-track: #FFF3 !default;
// $jsconfirm-timer-progress-circle-fill: var(--jsconfirm-primary) !default;
$jsconfirm-timer-progress-circle-fill: #FFF9 !default;

// CLOSE BUTTON
$jsconfirm-close-button-justify-self: end !default;
$jsconfirm-close-button-align-items: center !default;
$jsconfirm-close-button-justify-content: center !default;
$jsconfirm-close-button-width: 1.2em !default;
$jsconfirm-close-button-height: 1.2em !default;
$jsconfirm-close-button-position: null !default;
$jsconfirm-close-button-gap: 0 !default;
$jsconfirm-close-button-padding: 0 !default;
$jsconfirm-close-button-transition:
	color 0.1s,
	box-shadow 0.1s !default;
$jsconfirm-close-button-border: none !default;
$jsconfirm-close-button-border-radius: $jsconfirm-border-radius !default;
$jsconfirm-close-button-outline: null !default;
$jsconfirm-close-button-background: transparent !default;
$jsconfirm-close-button-color: #ccc !default;
$jsconfirm-close-button-font-family: monospace !default;
$jsconfirm-close-button-font-size: 2.5em !default;
$jsconfirm-close-button-box-shadow: inset 0 0 0 3px transparent !default;

// CLOSE BUTTON:HOVER
$jsconfirm-close-button-hover-transform: none !default;
$jsconfirm-close-button-hover-color: $jsconfirm-error !default;
$jsconfirm-close-button-hover-background: transparent !default;

// CLOSE BUTTON:FOCUS
$jsconfirm-close-button-focus-outline: none !default;
$jsconfirm-close-button-focus-box-shadow: inset 0 0 0 3px $jsconfirm-outline-color !default;

// ACTIONS
$jsconfirm-actions-flex-wrap: wrap !default;
$jsconfirm-actions-align-items: center !default;
$jsconfirm-actions-justify-content: end !default;
$jsconfirm-actions-width: auto !default;
$jsconfirm-actions-margin: 0 !default;
// $jsconfirm-actions-margin: 1.25em auto 0 !default;
$jsconfirm-actions-padding: 0 !default;

// COMMON VARIABLES FOR ALL ACTION BUTTONS
$jsconfirm-button-margin: 0 !default;
$jsconfirm-button-padding: 1px 12px 0 !default;
// $jsconfirm-button-margin: 0.3125em !default;
// $jsconfirm-button-padding: 0.625em 1.1em !default;
$jsconfirm-button-transition: box-shadow 0.5s, background-color 0.2s !default;
$jsconfirm-button-box-shadow: 0 0 0 0px transparent !default;
$jsconfirm-button-font-weight: 700 !default;
$jsconfirm-button-darken-hover: none !default;
$jsconfirm-button-darken-active: none !default;
// $jsconfirm-button-darken-hover: rgba($jsconfirm-black, 0.1) !default;
// $jsconfirm-button-darken-active: rgba($jsconfirm-black, 0.2) !default;
$jsconfirm-button-focus-outline: none !default;
$jsconfirm-button-focus-box-shadow: 0 0 0 3px $jsconfirm-outline-color !default;

// CONFIRM BUTTON
$jsconfirm-confirm-button-order: null !default;
$jsconfirm-confirm-button-border: 1px solid transparent !default;
$jsconfirm-confirm-button-border-radius: 6px !default;
$jsconfirm-confirm-button-background-color: var(--jsconfirm-primary, #{$blue}) !default;
$jsconfirm-confirm-button-hover-background-color: var(--jsconfirm-hover, #{$blue}) !default;
$jsconfirm-confirm-button-color: var(--jsconfirm-contrast, #{$black}) !default;
$jsconfirm-confirm-button-font-size: 14px !default;
$jsconfirm-confirm-button-focus-box-shadow: var(--jsconfirm-alpha, #{$blue-alpha}) !default; //Color only, other params set by _mixins.scss

// DENY BUTTON
$jsconfirm-deny-button-order: null !default;
$jsconfirm-deny-button-border: 1px solid transparent !default;
$jsconfirm-deny-button-border-radius: 6px !default;
$jsconfirm-deny-button-background-color: $red !default;
$jsconfirm-deny-button-hover-background-color: $red-hover !default;
$jsconfirm-deny-button-color: $jsconfirm-white !default;
$jsconfirm-deny-button-font-size: 14px !default;
$jsconfirm-deny-button-focus-box-shadow: $red-alpha !default; //Color only, other params set by _mixins.scss

// CANCEL BUTTON
$jsconfirm-cancel-button-order: null !default;
$jsconfirm-cancel-button-border: 1px solid transparent !default;
$jsconfirm-cancel-button-border-radius: 6px !default;
$jsconfirm-cancel-button-background-color: $dark-gray !default;
$jsconfirm-cancel-button-hover-background-color: $dark-gray-hover !default;
$jsconfirm-cancel-button-color: $jsconfirm-white !default;
$jsconfirm-cancel-button-font-size: 14px !default;
$jsconfirm-cancel-button-focus-box-shadow: $dark-gray-alpha !default; //Color only, other params set by _mixins.scss

// LOADER
$jsconfirm-loader-align-items: center !default;
$jsconfirm-loader-justify-content: center !default;
$jsconfirm-loader-width: 2.2em !default;
$jsconfirm-loader-height: 2.2em !default;
$jsconfirm-loader-margin: 0 1.875em !default;
$jsconfirm-loader-animation: jsconfirm-rotate-loading 1.5s linear 0s infinite normal !default;
$jsconfirm-loader-border-width: 0.25em !default;
$jsconfirm-loader-border-style: solid !default;
$jsconfirm-loader-border-radius: 100% !default;
$jsconfirm-loader-border-color: #2778c4 transparent #2778c4 transparent !default;

// TOASTS
$jsconfirm-toast-show-animation: jsconfirm-toast-show 0.5s !default;
$jsconfirm-toast-hide-animation: jsconfirm-toast-hide 0.1s forwards !default;
$jsconfirm-toast-border: none !default;
$jsconfirm-toast-border-radius: 8px !default;
$jsconfirm-toast-box-shadow: 0 0 10px 2px #0009 !default;
$jsconfirm-toast-background: #333 !default;
$jsconfirm-toast-backdrop-filter: none !default;
$jsconfirm-toast-close-button-width: 30px !default;
$jsconfirm-toast-close-button-height: 30px !default;
$jsconfirm-toast-close-button-color: #fff !default;
$jsconfirm-toast-close-button-margin: 0 !default;
$jsconfirm-toast-close-button-font-size: 18px !default;
$jsconfirm-toast-width: initial !default;
$jsconfirm-toast-padding: 20px !default;
$jsconfirm-toast-title-margin: 0 5px 0 0 !default;
$jsconfirm-toast-title-padding: 0 !default;
$jsconfirm-toast-title-font-size: 15px !default;
$jsconfirm-toast-title-font-weight: 800 !default;
$jsconfirm-toast-icon-size: 32px !default;
$jsconfirm-toast-html-container-margin: 0 5px 0 0 !default;
$jsconfirm-toast-html-container-padding: 0 !default;
$jsconfirm-toast-html-container-font-size: 14px !default;
$jsconfirm-toast-input-height: 2em !default;
$jsconfirm-toast-input-margin: 0.5em !default;
$jsconfirm-toast-input-font-size: 1em !default;
$jsconfirm-toast-validation-font-size: 1em !default;
$jsconfirm-toast-buttons-font-size: 1em !default;
$jsconfirm-toast-footer-margin: 0.5em 0 0 !default;
$jsconfirm-toast-footer-padding: 0.5em 0 0 !default;
$jsconfirm-toast-footer-font-size: 0.8em !default;
$jsconfirm-toast-timer-progress-bar-height: 2px;
