$jsconfirm-white: #fff !default;
$jsconfirm-black: #000 !default;
$jsconfirm-outline-color: rgba(100, 150, 200, 0.5) !default;
$gray-100: #E5E5E5 !default;
$gray-900: #191919 !default;
$black: #000;
$indigo:      #6610F2 !default;
$purple:      #9954BB !default;
$pink:        #E83E8C !default;
$red:         #e90000 !default;
$orange:      #FF7300 !default;
$yellow:      #FFC107 !default;
$green:       #66f500 !default;
$blue:        #00e1ff !default;
$light:         $gray-100 !default;
$dark:          #222222 !default;
$blueHover:     mix(black, $blue, 20%) !default;
$greenHover:    mix(black, $green, 20%) !default;
$redHover:      mix(black, $red, 20%) !default;
$yellowHover:   mix(black, $yellow, 20%) !default;
$purpleHover:   mix(black, $purple, 20%) !default;
$lightHover:    mix(black, $light, 20%) !default;
$darkHover:     mix(black, $dark, 50%) !default;
$blueAlpha:     transparentize($blueHover, 0.4) !default;
$greenAlpha:    transparentize($greenHover, 0.4) !default;
$redAlpha:      transparentize($redHover, 0.4) !default;
$yellowAlpha:   transparentize($yellowHover, 0.4) !default;
$purpleAlpha:   transparentize($purpleHover, 0.4) !default;
$lightAlpha:    transparentize($lightHover, 0.4) !default;
$darkAlpha:     transparentize($darkHover, 0.4) !default;

$glow-white: rgba(255, 255, 255, 0.3);
// CONTAINER
$jsconfirm-container-padding: 0.625em !default;

// POPUP
$jsconfirm-width: 32em !default;
$jsconfirm-padding: 0 !default;
$jsconfirm-border: none !default;
$jsconfirm-color: #fff !default;
$jsconfirm-border-radius: 5px !default;
$jsconfirm-box-shadow: 0 0 20px 10px #0009, inset 1px -1px 0 1px #0009 !default;

// ANIMATIONS
$jsconfirm-show-animation: jsconfirm-show 0.5s !default;
$jsconfirm-hide-animation: jsconfirm-hide 0.5s forwards !default;

// BACKGROUND
$jsconfirm-background: #333 !default;

// TYPOGRAPHY
$jsconfirm-font: inherit !default;
$jsconfirm-font-size: 1rem !default;

// BACKDROP
$jsconfirm-backdrop: #18181899 !default;
$jsconfirm-backdrop-transition: backdrop-filter 500ms, background-color 500ms;
$jsconfirm-backdrop-filter: blur(8px);

// ICONS
$jsconfirm-icon-size: 36px !default;
$jsconfirm-icon-animations: true !default;
$jsconfirm-icon-margin: 0 !default;
// $jsconfirm-icon-margin: 2.5em auto 0.6em !default;
$jsconfirm-icon-font-family: inherit !default;
$jsconfirm-icon-font-size: 3.75em !default;
$jsconfirm-icon-border-color: #000 !default;
$jsconfirm-icon-zoom: null !default;
$jsconfirm-success: $green !default;
$jsconfirm-success-border: rgba($jsconfirm-success, 0.3) !default;
$jsconfirm-error: $red !default;
$jsconfirm-warning: $yellow !default;
$jsconfirm-info: $light !default;
$jsconfirm-question: $blue !default;

// IMAGE
$jsconfirm-image-margin: 2em auto 1em !default;

// TITLE
$jsconfirm-title-position: relative !default;
$jsconfirm-title-max-width: 100% !default;
$jsconfirm-title-margin: 0 !default;
$jsconfirm-title-padding: 0 80px 0 0 !default;
$jsconfirm-title-color: inherit !default;
$jsconfirm-title-font-size: 22px !default;
$jsconfirm-title-font-weight: 500 !default;
$jsconfirm-title-text-align: center !default;

// HTML CONTAINER
$jsconfirm-html-container-justify-content: left !default;
$jsconfirm-html-container-margin: 0 !default;
// $jsconfirm-html-container-margin: 1em 1.6em 0.3em !default;
$jsconfirm-html-container-padding: 0 !default;
$jsconfirm-html-container-overflow: auto !default;
$jsconfirm-html-container-color: inherit !default;
$jsconfirm-html-container-font-size: 16px !default;
$jsconfirm-html-container-font-weight: 400 !default;
$jsconfirm-html-container-line-height: normal !default;
$jsconfirm-html-container-text-align: left !default;
$jsconfirm-html-container-word-wrap: break-word !default;
$jsconfirm-html-container-word-break: break-word !default;

// INPUT
$jsconfirm-input-margin: 0 !default;
$jsconfirm-input-width: 100% !default;
$jsconfirm-input-height: 30px !default;
$jsconfirm-input-padding: 0 8px !default;
$jsconfirm-input-border: 1px solid #111 !default;
$jsconfirm-input-border-radius: 6px !default;
$jsconfirm-input-box-shadow: none !default;
$jsconfirm-input-font-size: 14px !default;
$jsconfirm-input-background: #222 !default;
$jsconfirm-input-color: inherit !default;
$jsconfirm-input-transition: border-color 0.4s !default;

// INPUT:FOCUS
$jsconfirm-input-focus-border: 1px solid #fff !default;
$jsconfirm-input-focus-outline: none !default;
$jsconfirm-input-focus-box-shadow: none !default;

// TEXTAREA SPECIFIC VARIABLES
$jsconfirm-textarea-height: 6.75em !default;
$jsconfirm-textarea-padding: 0.75em !default;

// INPUT LABEL
$jsconfirm-input-label-margin: 0 !default;
$jsconfirm-input-label-justify-content: center !default;

// VALIDATION MESSAGE
$jsconfirm-validation-message-align-items: center !default;
$jsconfirm-validation-message-justify-content: center !default;
$jsconfirm-validation-message-margin: 0 !default;
$jsconfirm-validation-message-padding: 0.25em !default;
$jsconfirm-validation-message-background: $gray-900 !default;
$jsconfirm-validation-message-color: $light !default;
$jsconfirm-validation-message-font-size: 1em !default;
$jsconfirm-validation-message-font-weight: 400 !default;
$jsconfirm-validation-message-icon-background: none !default;
$jsconfirm-validation-message-icon-border: $red !default;
$jsconfirm-validation-message-icon-color: $red !default;
$jsconfirm-validation-message-icon-zoom: null !default;
$jsconfirm-validation-message-border: 1px solid transparent !default;
$jsconfirm-validation-message-border-radius: 6px !default;

// PROGRESS STEPS
$jsconfirm-progress-steps-flex-wrap: wrap !default;
$jsconfirm-progress-steps-align-items: center !default;
$jsconfirm-progress-steps-max-width: 100% !default;
$jsconfirm-progress-steps-background: transparent !default;
$jsconfirm-progress-steps-margin: 1.25em auto !default;
$jsconfirm-progress-steps-padding: 0 !default;
$jsconfirm-progress-steps-font-weight: 600 !default;
$jsconfirm-progress-steps-distance: 2.5em !default;
$jsconfirm-progress-step-width: 2em;
$jsconfirm-progress-step-height: 2em;
$jsconfirm-progress-step-border-radius: 2em;
$jsconfirm-progress-step-background: #add8e6 !default;
$jsconfirm-progress-step-color: $jsconfirm-white !default;
$jsconfirm-active-step-background: #2778c4 !default;
$jsconfirm-active-step-color: $jsconfirm-white !default;

// FOOTER
$jsconfirm-footer-margin: 1em 0 0 !default;
$jsconfirm-footer-padding: 1em 1em 0 !default;
$jsconfirm-footer-border-color: #eee !default;
$jsconfirm-footer-color: inherit !default;
$jsconfirm-footer-font-size: 1em !default;
$jsconfirm-footer-text-align: center !default;

// TIMER POGRESS BAR
$jsconfirm-timer-progress-bar-height: 0.25em;
$jsconfirm-timer-progress-bar-background: rgba($jsconfirm-black, 0.2) !default;

// CLOSE BUTTON
$jsconfirm-close-button-justify-self: end !default;
$jsconfirm-close-button-align-items: center !default;
$jsconfirm-close-button-justify-content: center !default;
$jsconfirm-close-button-width: 1.2em !default;
$jsconfirm-close-button-height: 1.2em !default;
$jsconfirm-close-button-position: null !default;
$jsconfirm-close-button-gap: 0 !default;
$jsconfirm-close-button-padding: 0 !default;
$jsconfirm-close-button-transition:
  color 0.1s,
  box-shadow 0.1s !default;
$jsconfirm-close-button-border: none !default;
$jsconfirm-close-button-border-radius: $jsconfirm-border-radius !default;
$jsconfirm-close-button-outline: null !default;
$jsconfirm-close-button-background: transparent !default;
$jsconfirm-close-button-color: #ccc !default;
$jsconfirm-close-button-font-family: monospace !default;
$jsconfirm-close-button-font-size: 2.5em !default;
$jsconfirm-close-button-box-shadow: inset 0 0 0 3px transparent !default;

// CLOSE BUTTON:HOVER
$jsconfirm-close-button-hover-transform: none !default;
$jsconfirm-close-button-hover-color: $jsconfirm-error !default;
$jsconfirm-close-button-hover-background: transparent !default;

// CLOSE BUTTON:FOCUS
$jsconfirm-close-button-focus-outline: none !default;
$jsconfirm-close-button-focus-box-shadow: inset 0 0 0 3px $jsconfirm-outline-color !default;

// ACTIONS
$jsconfirm-actions-flex-wrap: wrap !default;
$jsconfirm-actions-align-items: center !default;
$jsconfirm-actions-justify-content: center !default;
$jsconfirm-actions-width: auto !default;
$jsconfirm-actions-margin: 0 !default;
// $jsconfirm-actions-margin: 1.25em auto 0 !default;
$jsconfirm-actions-padding: 0 !default;

// COMMON VARIABLES FOR ALL ACTION BUTTONS
$jsconfirm-button-margin: 0 !default;
$jsconfirm-button-padding: 0 !default;
// $jsconfirm-button-margin: 0.3125em !default;
// $jsconfirm-button-padding: 0.625em 1.1em !default;
$jsconfirm-button-transition: box-shadow 0.1s !default;
$jsconfirm-button-box-shadow: 0 0 0 3px transparent !default;
$jsconfirm-button-font-weight: 500 !default;
$jsconfirm-button-darken-hover: rgba($jsconfirm-black, 0.1) !default;
$jsconfirm-button-darken-active: rgba($jsconfirm-black, 0.2) !default;
$jsconfirm-button-focus-outline: none !default;
$jsconfirm-button-focus-box-shadow: 0 0 0 3px $jsconfirm-outline-color !default;

// CONFIRM BUTTON
$jsconfirm-confirm-button-order: null !default;
$jsconfirm-confirm-button-border: 0 !default;
$jsconfirm-confirm-button-border-radius: 0.25em !default;
$jsconfirm-confirm-button-background-color: #7066e0 !default;
$jsconfirm-confirm-button-color: $jsconfirm-white !default;
$jsconfirm-confirm-button-font-size: 1em !default;
$jsconfirm-confirm-button-focus-box-shadow: 0 0 0 3px rgba($jsconfirm-confirm-button-background-color, 0.5) !default;

// DENY BUTTON
$jsconfirm-deny-button-order: null !default;
$jsconfirm-deny-button-border: 0 !default;
$jsconfirm-deny-button-border-radius: 0.25em !default;
$jsconfirm-deny-button-background-color: #dc3741 !default;
$jsconfirm-deny-button-color: $jsconfirm-white !default;
$jsconfirm-deny-button-font-size: 1em !default;
$jsconfirm-deny-button-focus-box-shadow: 0 0 0 3px rgba($jsconfirm-deny-button-background-color, 0.5) !default;

// CANCEL BUTTON
$jsconfirm-cancel-button-order: null !default;
$jsconfirm-cancel-button-border: 0 !default;
$jsconfirm-cancel-button-border-radius: 0.25em !default;
$jsconfirm-cancel-button-background-color: #6e7881 !default;
$jsconfirm-cancel-button-color: $jsconfirm-white !default;
$jsconfirm-cancel-button-font-size: 1em !default;
$jsconfirm-cancel-button-focus-box-shadow: 0 0 0 3px rgba($jsconfirm-cancel-button-background-color, 0.5) !default;

// LOADER
$jsconfirm-loader-align-items: center !default;
$jsconfirm-loader-justify-content: center !default;
$jsconfirm-loader-width: 2.2em !default;
$jsconfirm-loader-height: 2.2em !default;
$jsconfirm-loader-margin: 0 1.875em !default;
$jsconfirm-loader-animation: jsconfirm-rotate-loading 1.5s linear 0s infinite normal !default;
$jsconfirm-loader-border-width: 0.25em !default;
$jsconfirm-loader-border-style: solid !default;
$jsconfirm-loader-border-radius: 100% !default;
$jsconfirm-loader-border-color: #2778c4 transparent #2778c4 transparent !default;

// TOASTS
$jsconfirm-toast-show-animation: jsconfirm-toast-show 0.5s !default;
$jsconfirm-toast-hide-animation: jsconfirm-toast-hide 0.1s forwards !default;
$jsconfirm-toast-border: none !default;
$jsconfirm-toast-box-shadow:
  0 0 1px hsl(0deg 0% 0% / 0.075),
  0 1px 2px hsl(0deg 0% 0% / 0.075),
  1px 2px 4px hsl(0deg 0% 0% / 0.075),
  1px 3px 8px hsl(0deg 0% 0% / 0.075),
  2px 4px 16px hsl(0deg 0% 0% / 0.075) !default;
$jsconfirm-toast-background: #3333 !default;
$jsconfirm-toast-backdrop-filter: blur(8px);
$jsconfirm-toast-close-button-width: 0.8em !default;
$jsconfirm-toast-close-button-height: 0.8em !default;
$jsconfirm-toast-close-button-margin: 0 !default;
$jsconfirm-toast-close-button-font-size: 2em !default;
$jsconfirm-toast-width: 360px !default;
$jsconfirm-toast-padding: 1em !default;
$jsconfirm-toast-title-margin: 0.5em 1em !default;
$jsconfirm-toast-title-padding: 0 !default;
$jsconfirm-toast-title-font-size: 1em !default;
$jsconfirm-toast-icon-font-size: 1.8em !default;
$jsconfirm-toast-html-container-margin: 0.5em 1em !default;
$jsconfirm-toast-html-container-padding: 0 !default;
$jsconfirm-toast-html-container-font-size: 1em !default;
$jsconfirm-toast-input-height: 2em !default;
$jsconfirm-toast-input-margin: 0.5em !default;
$jsconfirm-toast-input-font-size: 1em !default;
$jsconfirm-toast-validation-font-size: 1em !default;
$jsconfirm-toast-buttons-font-size: 1em !default;
$jsconfirm-toast-footer-margin: 0.5em 0 0 !default;
$jsconfirm-toast-footer-padding: 0.5em 0 0 !default;
$jsconfirm-toast-footer-font-size: 0.8em !default;
