@import 'toasts-body';

@mixin jsconfirm-body() {
  // &.jsconfirm-shown {
  //   @include not('.jsconfirm-no-backdrop', '.jsconfirm-toast-shown') {
  //     overflow: hidden; // not overflow-y because of Sarari, #1253
  //   }
  // }

  // &.jsconfirm-height-auto {
  //   height: auto !important; // #781 #1107
  // }

  &.jsconfirm-no-backdrop {
    .jsconfirm-container {
      background-color: transparent !important;
      pointer-events: none;

      .jsconfirm-popup {
        pointer-events: all;
      }

      .jsconfirm-modal {
        box-shadow: 0 0 10px $jsconfirm-backdrop;
      }
    }
  }

  @media print {
    &.jsconfirm-shown {
      @include not('.jsconfirm-no-backdrop', '.jsconfirm-toast-shown') {
        overflow-y: scroll !important;

        > [aria-hidden='true'] {
          display: none;
        }

        .jsconfirm-container {
          position: static !important;
        }
      }
    }
  }
}
