@use 'sass:math';

.jsconfirm-popup.jsconfirm-modal {
	box-shadow: $jsconfirm-box-shadow;
	border-radius: 16px;
	position: relative;
	width: 401px;
	overflow: hidden;
	min-width: max-content;
	// outline: #0001;
	// outline-width: 1px;
	// outline-style: solid;
	// outline-offset: -1px;
	// background-color: #222a;
	// overflow: hidden;
	.jsconfirm-body {
		border-radius: 16px 16px 0 0;
		position: relative;
		background-color: $jsconfirm-background;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		gap: 10px;
		justify-content: flex-start;
		padding: 10px;
		// box-shadow: 0 0 20px 10px #0009;
		z-index: 4;
		max-height: 80dvh;
	}
	
	.jsconfirm-close {
		background-color: $glow-white;
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 35px;
		border-bottom-left-radius: 16px;
		border-top-right-radius: 16px;
		box-shadow: -6px 6px 0 6px #333333;
		transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
		align-items: center;
		justify-content: center;
		appearance: none;
		color: #FFF;
		border-width: 0;
	
		&:hover {
			background-color: $red;
		}
	
		&:focus,
		&:focus-visible,
		&::-moz-focus-inner {
			outline: none;
			background-color: $red;
		}
	}
}


.jsconfirm-animated .jsconfirm-body {
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.jsconfirm-blue {
	--jsconfirm-primary: #{$blue};
	.jsconfirm-body {
		border-top: solid 7px $blue;
		animation-name: type-blue;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $blue;
		}
	}
}

.jsconfirm-green {
	--jsconfirm-primary: #{$green};
	.jsconfirm-body {
		border-top: solid 7px $green;
		animation-name: type-green;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $green;
		}
	}
}

.jsconfirm-red {
	--jsconfirm-primary: #{$red};
	.jsconfirm-body {
		border-top: solid 7px $red;
		animation-name: type-red;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $red;
		}
	}
}

.jsconfirm-yellow {
	--jsconfirm-primary: #{$yellow};
	.jsconfirm-body {
		border-top: solid 7px $yellow;
		animation-name: type-yellow;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $yellow;
		}
	}
}

.jsconfirm-purple {
	--jsconfirm-primary: #{$purple};
	.jsconfirm-body {
		border-top: solid 7px $purple;
		animation-name: type-purple;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $purple;
		}
	}
}

.jsconfirm-dark {
	--jsconfirm-primary: #{$dark};
	.jsconfirm-body {
		border-top: solid 7px $dark;
		animation-name: type-dark;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $dark;
		}
	}
}

.jsconfirm-light {
	--jsconfirm-primary: #{$light};
	.jsconfirm-body {
		border-top: solid 7px $light;
		animation-name: type-light;
	}

	.jsconfirm-close {

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			background-color: $light;
			color: $dark;
		}
	}
}

.modal-shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both !important;
	// transform: translate3d(0, 0, 0) !important;
}

.modal-title {
	display: flex;
	font-size: 22px;
	line-height: 0px;
	user-select: none;
	align-items: center;
	cursor: default;
	padding-bottom: 10px;
}

.jsconfirm-clip {
	// clip-path: polygon(calc(100% - 70px) 0px, calc(100% - 70px) 36px, 101% 36px, 101% 101%, 0% 101%, 0% 0%);
	// clip-path: polygon(calc(100% - 70px) -2%, calc(100% - 70px) 35px, 102% 35px, 102% calc(102% + 150px), -2% calc(102% + 150px), -2% -2%);
	clip-path: polygon(calc(100% - 70px) 0, calc(100% - 70px) 35px, 100% 35px, 100% 100%, 0 100%, 0 0);
	// clip-path: polygon(calc(100% - 70px) -2%, calc(100% - 70px) 23px, calc(100% - 69px) 26px, calc(100% - 68px) 28px, calc(100% - 67px) 29px, calc(100% - 66px) 30px, calc(100% - 65px) 31px, calc(100% - 64px) 32px, calc(100% - 63px) 33px, calc(100% - 61px) 34px, calc(100% - 58px) 35px, 102% 35px, 102% calc(102% + 150px), -2% calc(102% + 150px), -2% -2%);
	// clip-path: polygon(calc(100% - 70px) -2%, calc(100% - 70px) 19px, calc(100% - 69px) 25px, calc(100% - 68px) 27px, calc(100% - 67px) 29px, calc(100% - 66px) 30px, calc(100% - 65px) 31px, calc(100% - 64px) 32px, calc(100% - 62px) 33px, calc(100% - 60px) 34px, calc(100% - 54px) 35px, 102% 35px, 102% calc(102% + 150px), -2% calc(102% + 150px), -2% -2%);
}


.jsconfirm-header {
	display: flex;
	align-items: center;
	gap: 10px;
}

.jsconfirm-actions {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	// > button {
	//   // margin-bottom: 4px;
	//   // margin-left: 2px;
	//   // margin-right: 2px;
	// }

	button {
		height: 30px;
		font-size: 14px;
		font-weight: 600;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 12px;
		touch-action: manipulation;
		cursor: pointer;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		border: 1px solid transparent;
		background-image: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&.btn-blue {
			background-color: $blue;
			color: $black;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $blueHover;
				color: $black;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $blue;
				border: 1px solid currentColor;
			}
		}

		&.btn-green {
			background-color: $green;
			color: $black;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $greenHover;
				color: $black;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $green;
				border: 1px solid currentColor;
			}
		}

		&.btn-red {
			background-color: $red;
			color: $black;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $redHover;
				color: $black;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $red;
				border: 1px solid currentColor;
			}
		}

		&.btn-yellow {
			background-color: $yellow;
			color: $black;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $yellowHover;
				color: $black;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $yellow;
				border: 1px solid currentColor;
			}
		}

		//   &.btn-default {
		// 	background-color: $default;
		// 	color: #000;
		// 	text-shadow: none;
		// 	transition: background .2s;
		// 	&:hover {
		// 	  background-color: $defaultHover;
		// 	  color: #000;
		// 	}
		//   }

		&.btn-purple {
			background-color: $purple;
			color: #FFF;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $purpleHover;
				color: #FFF;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $purple;
				border: 1px solid currentColor;
			}
		}

		&.btn-dark {
			background-color: $dark;
			color: #FFF;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $darkHover;
				color: #FFF;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $dark;
				border: 1px solid currentColor;
			}
		}

		&.btn-light {
			background-color: $light;
			color: #000;
			text-shadow: none;
			transition: background .2s;

			&:hover {
				background-color: $lightHover;
				color: #000;
			}

			&:focus,
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 1px currentColor, 0 0 0 3px $light;
				border: 1px solid currentColor;
			}
		}
	}
}
// .modalBackdrop {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	// right: 0;
// 	// bottom: 0;
// 	z-index: 3;
// 	width: 100dvw;
// 	height: 100dvh;
// 	min-height: 100dvh;
// 	// background-color: #181818aa;
// 	backdrop-filter: blur(6px) brightness(0.8);
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	/* transform: translate(-100%, 0); */
// 	/* opacity: 0; */
// 	transition: backdrop-filter 500ms ease-in-out, background-color 500ms ease-in-out;
// 	overflow: hidden;
// 	scrollbar-width: none;
// }
div:where(.jsconfirm-container) {
	display: grid;
	position: absolute;
	// z-index: 1060;
	inset: 0;
	box-sizing: border-box;
	grid-template-areas:
		'top-start     top            top-end'
		'center-start  center         center-end'
		'bottom-start  bottom-center  bottom-end';
	grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
	// height: 100%; // Safari
	width: 100dvw;
	height: 100dvh;
	// padding: $jsconfirm-container-padding;
	backdrop-filter: none;
	overflow-x: hidden;
	overflow: hidden;
	scrollbar-width: none;
	transition: $jsconfirm-backdrop-transition;
	// transform: translate3d(0,0,0);

	// sweetalert2/issues/905
	-webkit-overflow-scrolling: touch;

	&.jsconfirm-backdrop-show,
	&.jsconfirm-noanimation {
		background: $jsconfirm-backdrop;
		backdrop-filter: $jsconfirm-backdrop-filter;
	}

	&.jsconfirm-backdrop-hide {
		backdrop-filter: none;
		background: transparent !important;
	}

	&.jsconfirm-top-start,
	&.jsconfirm-center-start,
	&.jsconfirm-bottom-start {
		grid-template-columns: minmax(0, 1fr) auto auto;
	}

	&.jsconfirm-top,
	&.jsconfirm-center,
	&.jsconfirm-bottom {
		grid-template-columns: auto minmax(0, 1fr) auto;
	}

	&.jsconfirm-top-end,
	&.jsconfirm-center-end,
	&.jsconfirm-bottom-end {
		grid-template-columns: auto auto minmax(0, 1fr);
	}

	&.jsconfirm-top-start > .jsconfirm-popup {
		align-self: start;
	}

	&.jsconfirm-top > .jsconfirm-popup {
		grid-column: 2;
		align-self: start;
		justify-self: center;
	}

	&.jsconfirm-top-end > .jsconfirm-popup,
	&.jsconfirm-top-right > .jsconfirm-popup {
		grid-column: 3;
		align-self: start;
		justify-self: end;
	}

	&.jsconfirm-center-start > .jsconfirm-popup,
	&.jsconfirm-center-left > .jsconfirm-popup {
		grid-row: 2;
		align-self: center;
	}

	&.jsconfirm-center > .jsconfirm-popup {
		grid-column: 2;
		grid-row: 2;
		align-self: center;
		justify-self: center;
	}

	&.jsconfirm-center-end > .jsconfirm-popup,
	&.jsconfirm-center-right > .jsconfirm-popup {
		grid-column: 3;
		grid-row: 2;
		align-self: center;
		justify-self: end;
	}

	&.jsconfirm-bottom-start > .jsconfirm-popup,
	&.jsconfirm-bottom-left > .jsconfirm-popup {
		grid-column: 1;
		grid-row: 3;
		align-self: end;
	}

	&.jsconfirm-bottom > .jsconfirm-popup {
		grid-column: 2;
		grid-row: 3;
		justify-self: center;
		align-self: end;
	}

	&.jsconfirm-bottom-end > .jsconfirm-popup,
	&.jsconfirm-bottom-right > .jsconfirm-popup {
		grid-column: 3;
		grid-row: 3;
		align-self: end;
		justify-self: end;
	}

	&.jsconfirm-grow-row > .jsconfirm-popup,
	&.jsconfirm-grow-fullscreen > .jsconfirm-popup {
		grid-column: 1/4;
		width: 100%;
	}

	&.jsconfirm-grow-column > .jsconfirm-popup,
	&.jsconfirm-grow-fullscreen > .jsconfirm-popup {
		grid-row: 1/4;
		align-self: stretch;
	}

	&.jsconfirm-no-transition {
		transition: none !important;
	}

	div:where(.jsconfirm-popup) {
		display: none;
		position: relative;
		box-sizing: border-box;
		grid-template-columns: minmax(0, 100%);
		width: $jsconfirm-width;
		max-width: 100%;
		padding: $jsconfirm-padding;
		border: $jsconfirm-border;
		border-radius: $jsconfirm-border-radius;
		background: $jsconfirm-background;
		color: $jsconfirm-color;
		font-family: $jsconfirm-font;
		font-size: $jsconfirm-font-size;
		transform: translate3d(0,0,0);
		
		&:focus {
			outline: none;
		}

		&.jsconfirm-loading {
			overflow-y: hidden;
		}
	}

	h2:where(.jsconfirm-title) {
		position: $jsconfirm-title-position;
		max-width: $jsconfirm-title-max-width;
		margin: $jsconfirm-title-margin;
		padding: $jsconfirm-title-padding;
		color: $jsconfirm-title-color;
		font-size: $jsconfirm-title-font-size;
		font-weight: $jsconfirm-title-font-weight;
		text-align: $jsconfirm-title-text-align;
		text-transform: none;
		word-wrap: break-word;
	}

	div:where(.jsconfirm-actions) {
		display: flex;
		z-index: 1; // prevent success icon from overlapping buttons
		box-sizing: border-box;
		flex-wrap: $jsconfirm-actions-flex-wrap;
		align-items: $jsconfirm-actions-align-items;
		justify-content: $jsconfirm-actions-justify-content;
		width: $jsconfirm-actions-width;
		margin: $jsconfirm-actions-margin;
		padding: $jsconfirm-actions-padding;

		&:not(.jsconfirm-loading) {
			.jsconfirm-styled {
				&[disabled] {
					opacity: 0.4;
				}

				&:hover {
					background-image: linear-gradient($jsconfirm-button-darken-hover, $jsconfirm-button-darken-hover);
				}

				&:active {
					background-image: linear-gradient($jsconfirm-button-darken-active, $jsconfirm-button-darken-active);
				}
			}
		}
	}

	div:where(.jsconfirm-loader) {
		display: none;
		align-items: $jsconfirm-loader-align-items;
		justify-content: $jsconfirm-loader-justify-content;
		width: $jsconfirm-loader-width;
		height: $jsconfirm-loader-height;
		margin: $jsconfirm-loader-margin;
		animation: $jsconfirm-loader-animation;
		border-width: $jsconfirm-loader-border-width;
		border-style: $jsconfirm-loader-border-style;
		border-radius: $jsconfirm-loader-border-radius;
		border-color: $jsconfirm-loader-border-color;
	}

	// button:where(.jsconfirm-styled) {
	// 	margin: $jsconfirm-button-margin;
	// 	padding: $jsconfirm-button-padding;
	// 	transition: $jsconfirm-button-transition;
	// 	box-shadow: $jsconfirm-button-box-shadow;
	// 	font-weight: $jsconfirm-button-font-weight;

	// 	&:not([disabled]) {
	// 		cursor: pointer;
	// 	}

	// 	&.jsconfirm-confirm {
	// 		order: $jsconfirm-confirm-button-order;
	// 		border: $jsconfirm-confirm-button-border;
	// 		border-radius: $jsconfirm-confirm-button-border-radius;
	// 		background: initial;
	// 		background-color: $jsconfirm-confirm-button-background-color;
	// 		color: $jsconfirm-confirm-button-color;
	// 		font-size: $jsconfirm-confirm-button-font-size;

	// 		&:focus {
	// 			box-shadow: $jsconfirm-confirm-button-focus-box-shadow;
	// 		}
	// 	}

	// 	&.jsconfirm-deny {
	// 		order: $jsconfirm-deny-button-order;
	// 		border: $jsconfirm-deny-button-border;
	// 		border-radius: $jsconfirm-deny-button-border-radius;
	// 		background: initial;
	// 		background-color: $jsconfirm-deny-button-background-color;
	// 		color: $jsconfirm-deny-button-color;
	// 		font-size: $jsconfirm-deny-button-font-size;

	// 		&:focus {
	// 			box-shadow: $jsconfirm-deny-button-focus-box-shadow;
	// 		}
	// 	}

	// 	&.jsconfirm-cancel {
	// 		order: $jsconfirm-cancel-button-order;
	// 		border: $jsconfirm-cancel-button-border;
	// 		border-radius: $jsconfirm-cancel-button-border-radius;
	// 		background: initial;
	// 		background-color: $jsconfirm-cancel-button-background-color;
	// 		color: $jsconfirm-cancel-button-color;
	// 		font-size: $jsconfirm-cancel-button-font-size;

	// 		&:focus {
	// 			box-shadow: $jsconfirm-cancel-button-focus-box-shadow;
	// 		}
	// 	}

	// 	&.jsconfirm-default-outline {
	// 		&:focus {
	// 			box-shadow: $jsconfirm-button-focus-box-shadow;
	// 		}
	// 	}

	// 	&:focus {
	// 		outline: $jsconfirm-button-focus-outline;
	// 	}

	&::-moz-focus-inner {
		border: 0;
	}
}

div:where(.jsconfirm-footer) {
	margin: $jsconfirm-footer-margin;
	padding: $jsconfirm-footer-padding;
	border-top: 1px solid $jsconfirm-footer-border-color;
	color: $jsconfirm-footer-color;
	font-size: $jsconfirm-footer-font-size;
	text-align: $jsconfirm-footer-text-align;
}

.jsconfirm-timer-progress-bar-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	grid-column: auto !important;
	overflow: hidden;
	border-bottom-right-radius: $jsconfirm-border-radius;
	border-bottom-left-radius: $jsconfirm-border-radius;
}

div:where(.jsconfirm-timer-progress-bar) {
	width: 100%;
	height: $jsconfirm-timer-progress-bar-height;
	background: $jsconfirm-timer-progress-bar-background;
}

img:where(.jsconfirm-image) {
	max-width: 100%;
	margin: $jsconfirm-image-margin;
}

// button:where(.jsconfirm-close) {
// 	position: $jsconfirm-close-button-position;
// 	z-index: 2; // sweetalert2/issues/1617
// 	align-items: $jsconfirm-close-button-align-items;
// 	justify-content: $jsconfirm-close-button-justify-content;
// 	width: $jsconfirm-close-button-width;
// 	height: $jsconfirm-close-button-height;
// 	margin-top: $jsconfirm-close-button-gap;
// 	margin-right: $jsconfirm-close-button-gap;
// 	margin-bottom: -$jsconfirm-close-button-height;
// 	padding: $jsconfirm-close-button-padding;
// 	overflow: hidden;
// 	transition: $jsconfirm-close-button-transition;
// 	border: $jsconfirm-close-button-border;
// 	border-radius: $jsconfirm-close-button-border-radius;
// 	outline: $jsconfirm-close-button-outline;
// 	background: $jsconfirm-close-button-background;
// 	color: $jsconfirm-close-button-color;
// 	font-family: $jsconfirm-close-button-font-family;
// 	font-size: $jsconfirm-close-button-font-size;
// 	cursor: pointer;
// 	justify-self: $jsconfirm-close-button-justify-self;

// 	&:hover {
// 		transform: $jsconfirm-close-button-hover-transform;
// 		background: $jsconfirm-close-button-hover-background;
// 		color: $jsconfirm-close-button-hover-color;
// 	}

// 	&:focus {
// 		outline: $jsconfirm-close-button-focus-outline;
// 		box-shadow: $jsconfirm-close-button-focus-box-shadow;
// 	}

// 	&::-moz-focus-inner {
// 		border: 0;
// 	}
// }

.jsconfirm-html-container {
	z-index: 1; // prevent sucess icon overlapping the content
	justify-content: $jsconfirm-html-container-justify-content;
	margin: $jsconfirm-html-container-margin;
	padding: $jsconfirm-html-container-padding;
	overflow: $jsconfirm-html-container-overflow;
	color: $jsconfirm-html-container-color;
	font-size: $jsconfirm-html-container-font-size;
	font-weight: $jsconfirm-html-container-font-weight;
	line-height: $jsconfirm-html-container-line-height;
	text-align: $jsconfirm-html-container-text-align;
	word-wrap: $jsconfirm-html-container-word-wrap;
	word-break: $jsconfirm-html-container-word-break;
}

input:where(.jsconfirm-input),
input:where(.jsconfirm-file),
textarea:where(.jsconfirm-textarea),
select:where(.jsconfirm-select),
div:where(.jsconfirm-radio),
label:where(.jsconfirm-checkbox) {
	margin: $jsconfirm-input-margin;
}

input:where(.jsconfirm-input),
input:where(.jsconfirm-file),
textarea:where(.jsconfirm-textarea) {
	box-sizing: border-box;
	width: $jsconfirm-input-width;
	transition: $jsconfirm-input-transition;
	border: $jsconfirm-input-border;
	border-radius: $jsconfirm-input-border-radius;
	background: $jsconfirm-input-background;
	box-shadow: $jsconfirm-input-box-shadow;
	color: $jsconfirm-input-color;
	font-size: $jsconfirm-input-font-size;

	&.jsconfirm-inputerror {
		border-color: $jsconfirm-error !important;
		box-shadow: 0 0 2px $jsconfirm-error !important;
	}

	&:focus {
		border: $jsconfirm-input-focus-border;
		outline: $jsconfirm-input-focus-outline;
		box-shadow: $jsconfirm-input-focus-box-shadow;
	}

	&::placeholder {
		color: #ccc;
	}
}

// .jsconfirm-range {
// 	margin: $jsconfirm-input-margin;
// 	background: $jsconfirm-background;

// 	input {
// 		width: 80%;
// 	}

// 	output {
// 		width: 20%;
// 		color: $jsconfirm-input-color;
// 		font-weight: 600;
// 		text-align: center;
// 	}

// 	input,
// 	output {
// 		height: $jsconfirm-input-height;
// 		padding: 0;
// 		font-size: $jsconfirm-input-font-size;
// 		line-height: $jsconfirm-input-height;
// 	}
// }

.jsconfirm-input {
	height: $jsconfirm-input-height;
	padding: $jsconfirm-input-padding;
}

.jsconfirm-file {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	background: $jsconfirm-input-background;
	font-size: $jsconfirm-input-font-size;
}

.jsconfirm-textarea {
	height: $jsconfirm-textarea-height;
	padding: $jsconfirm-textarea-padding;
}

.jsconfirm-select {
	min-width: 50%;
	max-width: 100%;
	padding: 0.375em 0.625em;
	background: $jsconfirm-input-background;
	color: $jsconfirm-input-color;
	font-size: $jsconfirm-input-font-size;
}

.jsconfirm-radio,
.jsconfirm-checkbox {
	align-items: center;
	justify-content: center;
	background: $jsconfirm-background;
	color: $jsconfirm-input-color;

	label {
		margin: 0 0.6em;
		font-size: $jsconfirm-input-font-size;
	}

	input {
		flex-shrink: 0;
		margin: 0 0.4em;
	}
}

label:where(.jsconfirm-input-label) {
	display: flex;
	justify-content: $jsconfirm-input-label-justify-content;
	margin: $jsconfirm-input-label-margin;
}

div:where(.jsconfirm-validation-message) {
	align-items: $jsconfirm-validation-message-align-items;
	justify-content: $jsconfirm-validation-message-justify-content;
	margin: $jsconfirm-validation-message-margin;
	padding: $jsconfirm-validation-message-padding;
	overflow: hidden;
	background: $jsconfirm-validation-message-background;
	color: $jsconfirm-validation-message-color;
	font-size: $jsconfirm-validation-message-font-size;
	font-weight: $jsconfirm-validation-message-font-weight;
	border: $jsconfirm-validation-message-border;
	border-radius: $jsconfirm-validation-message-border-radius;

	&::before {
		content: '!';
		display: inline-block;
		width: 1em;
		min-width: 1em;
		height: 1em;
		margin: 0 0.625em;
		zoom: $jsconfirm-validation-message-icon-zoom;
		border-radius: 50%;
		background-color: $jsconfirm-validation-message-icon-background;
		border: 2px solid $jsconfirm-validation-message-icon-border;
		color: $jsconfirm-validation-message-icon-color;
		font-weight: 800;
		line-height: 1.1em;
		text-align: center;
		font-size: 20px;
	}
}

.jsconfirm-progress-steps {
	flex-wrap: $jsconfirm-progress-steps-flex-wrap;
	align-items: $jsconfirm-progress-steps-align-items;
	max-width: $jsconfirm-progress-steps-max-width;
	margin: $jsconfirm-progress-steps-margin;
	padding: $jsconfirm-progress-steps-padding;
	background: $jsconfirm-progress-steps-background;
	font-weight: $jsconfirm-progress-steps-font-weight;

	li {
		display: inline-block;
		position: relative;
	}

	.jsconfirm-progress-step {
		z-index: 20;
		flex-shrink: 0;
		width: $jsconfirm-progress-step-width;
		height: $jsconfirm-progress-step-height;
		border-radius: $jsconfirm-progress-step-border-radius;
		background: $jsconfirm-active-step-background;
		color: $jsconfirm-active-step-color;
		line-height: $jsconfirm-progress-step-height;
		text-align: center;

		&.jsconfirm-active-progress-step {
			background: $jsconfirm-active-step-background;

			~ .jsconfirm-progress-step {
				background: $jsconfirm-progress-step-background;
				color: $jsconfirm-progress-step-color;
			}

			~ .jsconfirm-progress-step-line {
				background: $jsconfirm-progress-step-background;
			}
		}
	}

	.jsconfirm-progress-step-line {
		z-index: 10;
		flex-shrink: 0;
		width: $jsconfirm-progress-steps-distance;
		height: 0.4em;
		margin: 0 -1px;
		background: $jsconfirm-active-step-background;
	}
}

// }

@import 'icons';

// github.com/sweetalert2/sweetalert2/issues/268
[class^='jsconfirm'] {
	-webkit-tap-highlight-color: transparent;
}

.jsconfirm-show {
	animation: $jsconfirm-show-animation;
}

.jsconfirm-hide {
	animation: $jsconfirm-hide-animation;
}

.jsconfirm-noanimation {
	transition: none;
}

.modalHide {
	animation: modalHide 0.5s ease forwards;
}

.modalHideBackdrop {
	animation: modalHideBackdrop 0.5s ease forwards;
}

.modalShow {
	animation: modalShow 0.5s ease forwards;
}

.modalBackdrop.modalShowBackdrop {
	animation: modalShowBackdrop 0.5s ease forwards;
}

// Measure scrollbar width for padding body during modal show/hide
.jsconfirm-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

// Right-to-left support
.jsconfirm-rtl {
	.jsconfirm-close {
		margin-right: initial;
		margin-left: $jsconfirm-close-button-gap;
	}

	.jsconfirm-timer-progress-bar {
		right: 0;
		left: auto;
	}
}