// https://stackoverflow.com/a/12335841/1331425
@function strip-units($number) {
	@return math.div($number, ($number * 0 + 1));
}

$icon-zoom: math.div(strip-units($jsconfirm-icon-size), 5);

.jsconfirm-icon {
	position: relative;
	box-sizing: content-box;
	height: $jsconfirm-icon-size;
	margin: $jsconfirm-icon-margin;
	zoom: $jsconfirm-icon-zoom;
	cursor: default;
	user-select: none;
	transform: translateZ(0);
	perspective: 400px;
	grid-row: 1/2;
	grid-column: 1/2;

	.jsconfirm-icon-content {
		display: flex;
		align-items: center;
		font-size: $jsconfirm-icon-font-size;
	}

	&.jsconfirm-error {
		color: $jsconfirm-error;

		// Error icon animation
		&.jsconfirm-icon-show {
			@if $jsconfirm-icon-animations {
				.error-circle {
					animation: animate-error-circle 1s;
					transform-origin: 50% 50%;
				}

				.error-x-mark {
					animation: animate-error-x-mark 1.5s;
					transform-origin: 50% 50%;
				}
			}
		}
	}

	&.jsconfirm-warning {
		color: $jsconfirm-warning;

		// Warning icon animation
		&.jsconfirm-icon-show {
			@if $jsconfirm-icon-animations {
				.warning-triangle {
					animation: animate-warning-triangle 1s both;
					transform-origin: 50% 50%;
					stroke-dasharray: 1 1;
				}

				.warning-exclamation-point {
					animation: animate-warning-exclamation-point 1.5s both;
					transform-origin: 50% 50%;
				}

				.warning-exclamation-point-stroke {
					animation: animate-warning-exclamation-point-stroke 1.7s both;
					transform-origin: 50% 50%;
					stroke-dasharray: 10 10;
				}

				.warning-exclamation-point-dot {
					animation: animate-warning-exclamation-point-dot 1.5s both;
					transform-origin: 50% 50%;
					stroke-dasharray: 1 1;
				}
			}
		}
	}

	&.jsconfirm-info {
		color: $jsconfirm-info;

		// Info icon animation
		&.jsconfirm-icon-show {
			@if $jsconfirm-icon-animations {
				.info-circle {
					animation: animate-info-circle 1s;
					transform-origin: 50% 50%;
				}

				.info-i-mark {
					animation: animate-info-i-mark 1.5s;
					transform-origin: 50% 50%;
				}


			}
		}
	}

	&.jsconfirm-question {
		color: $jsconfirm-question;

		// Question icon animation
		&.jsconfirm-icon-show {
			@if $jsconfirm-icon-animations {
				.question-circle {
					animation: animate-question-circle 1s;
					transform-origin: 50% 50%;
				}

				.question-mark {
					animation: animate-question-mark 2s;
					transform-origin: 50% 50%;
				}


			}
		}
	}

	&.jsconfirm-success {
		color: $jsconfirm-success;
		backface-visibility: hidden;

		.success-circle {
			stroke-dasharray: 1 1;
			stroke-dashoffset: -1;
			stroke-width: 50;
		}

		.success-check-mark {
			stroke-dasharray: 10 12;
			stroke-dashoffset: -12;
			stroke-width: 50;
		}

		// Success icon animation
		&.jsconfirm-icon-show {
			@if $jsconfirm-icon-animations {
				.success-circle {
					animation: animate-success-circle 1s both;
					animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
				}

				.success-check-mark {
					animation: animate-success-check-mark 2s both;
					animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
				}
			}
		}
	}
}