.jsconfirm-popup {
  &.jsconfirm-toast {
    box-sizing: border-box;
    grid-column: 1/4 !important;
    grid-row: 1/4 !important;
    grid-template-columns: min-content auto min-content;
    overflow-y: hidden;
    pointer-events: all;
    // margin: $jsconfirm-toast-padding;
    box-shadow: $jsconfirm-box-shadow;
    
    .jsconfirm-body {
      border-radius: 10px;
      padding: 8px;
      background: $jsconfirm-toast-background;
      backdrop-filter: $jsconfirm-toast-backdrop-filter;
    }

    > * {
      grid-column: 2;
    }

    .jsconfirm-title {
      margin: $jsconfirm-toast-title-margin;
      padding: $jsconfirm-toast-title-padding;
      font-size: $jsconfirm-toast-title-font-size;
      text-align: initial;
    }

    .jsconfirm-loading {
      justify-content: center;
    }

    .jsconfirm-input {
      height: $jsconfirm-toast-input-height;
      margin: $jsconfirm-toast-input-margin;
      font-size: $jsconfirm-toast-input-font-size;
    }

    .jsconfirm-validation-message {
      font-size: $jsconfirm-toast-validation-font-size;
    }

    .jsconfirm-footer {
      margin: $jsconfirm-toast-footer-margin;
      padding: $jsconfirm-toast-footer-margin;
      font-size: $jsconfirm-toast-footer-font-size;
    }

    .jsconfirm-close {
      grid-column: 3/3;
      grid-row: 1/99;
      align-self: center;
      width: $jsconfirm-toast-close-button-width;
      height: $jsconfirm-toast-close-button-height;
      margin: $jsconfirm-toast-close-button-margin;
      font-size: $jsconfirm-toast-close-button-font-size;
    }

    .jsconfirm-html-container {
      margin: $jsconfirm-toast-html-container-margin;
      padding: $jsconfirm-toast-html-container-padding;
      overflow: initial;
      font-size: $jsconfirm-toast-html-container-font-size;
      text-align: initial;

      &:empty {
        padding: 0;
      }
    }

    .jsconfirm-loader {
      grid-column: 1;
      grid-row: 1/99;
      align-self: center;
      width: 2em;
      height: 2em;
      margin: 0.25em;
    }

    .jsconfirm-icon {
      grid-column: 1;
      grid-row: 1/99;
      align-self: center;
      width: 2em;
      min-width: 2em;
      height: 2em;
      margin: 0 0.5em 0 0;

      .jsconfirm-icon-content {
        display: flex;
        align-items: center;
        font-size: $jsconfirm-toast-icon-font-size;
        font-weight: bold;
      }

      &.jsconfirm-success {
        .jsconfirm-success-ring {
          width: 2em;
          height: 2em;
        }
      }

      &.jsconfirm-error {
        [class^='jsconfirm-x-mark-line'] {
          top: 0.875em;
          width: 1.375em;

          &[class$='left'] {
            left: 0.3125em;
          }

          &[class$='right'] {
            right: 0.3125em;
          }
        }
      }
    }

    .jsconfirm-actions {
      justify-content: flex-start;
      height: auto;
      margin: 0;
      margin-top: 0.5em;
      padding: 0 0.5em;
    }

    .jsconfirm-styled {
      margin: 0.25em 0.5em;
      padding: 0.4em 0.6em;
      font-size: $jsconfirm-toast-buttons-font-size;
    }

    .jsconfirm-success {
      border-color: $jsconfirm-success;

      [class^='jsconfirm-success-circular-line'] {
        // Emulate moving circular line
        position: absolute;
        width: 1.6em;
        height: 3em;
        transform: rotate(45deg);
        border-radius: 50%;

        &[class$='left'] {
          top: -0.8em;
          left: -0.5em;
          transform: rotate(-45deg);
          transform-origin: 2em 2em;
          border-radius: 4em 0 0 4em;
        }

        &[class$='right'] {
          top: -0.25em;
          left: 0.9375em;
          transform-origin: 0 1.5em;
          border-radius: 0 4em 4em 0;
        }
      }

      .jsconfirm-success-ring {
        width: 2em;
        height: 2em;
      }

      .jsconfirm-success-fix {
        top: 0;
        left: 0.4375em;
        width: 0.4375em;
        height: 2.6875em;
      }

      [class^='jsconfirm-success-line'] {
        height: 0.3125em;

        &[class$='tip'] {
          top: 1.125em;
          left: 0.1875em;
          width: 0.75em;
        }

        &[class$='long'] {
          top: 0.9375em;
          right: 0.1875em;
          width: 1.375em;
        }
      }

      &.jsconfirm-icon-show {
        @if $jsconfirm-icon-animations {
          .jsconfirm-success-line-tip {
            animation: jsconfirm-toast-animate-success-line-tip 0.75s;
          }

          .jsconfirm-success-line-long {
            animation: jsconfirm-toast-animate-success-line-long 0.75s;
          }
        }
      }
    }

    &.jsconfirm-show {
      animation: $jsconfirm-toast-show-animation;
    }

    &.jsconfirm-hide {
      animation: $jsconfirm-toast-hide-animation;
    }
  }
}
