@use 'sass:math';

.jsconfirm-popup {
	&.jsconfirm-toast {
		box-sizing: border-box;
		overflow-y: hidden;
		pointer-events: all;
		// margin: $jsconfirm-toast-padding;
		box-shadow: $jsconfirm-toast-box-shadow;
		border-radius: $jsconfirm-toast-border-radius;

		.jsconfirm-body {
			grid-template-columns: min-content auto;
			grid-template-rows: 1fr 1fr;
			grid-auto-columns: min-content;
			border-radius: $jsconfirm-toast-border-radius;
			padding: 4px 12px;
			background: $jsconfirm-toast-background;
			backdrop-filter: $jsconfirm-toast-backdrop-filter;
			position: relative;
			gap: 0 10px;

			> * {
				grid-column: 2;
			}

			.jsconfirm-title {
				margin: $jsconfirm-toast-title-margin;
				padding: $jsconfirm-toast-title-padding;
				font-size: $jsconfirm-toast-title-font-size;
				font-weight: $jsconfirm-toast-title-font-weight;
				text-align: initial;
				line-height: $jsconfirm-toast-title-font-size;
				grid-row: 1/2;
				align-self: center;
			}

			.jsconfirm-loading {
				justify-content: center;
			}

			.jsconfirm-input {
				height: $jsconfirm-toast-input-height;
				margin: $jsconfirm-toast-input-margin;
				font-size: $jsconfirm-toast-input-font-size;
			}

			.jsconfirm-validation-message {
				font-size: $jsconfirm-toast-validation-font-size;
			}

			.jsconfirm-footer {
				margin: $jsconfirm-toast-footer-margin;
				padding: $jsconfirm-toast-footer-margin;
				font-size: $jsconfirm-toast-footer-font-size;
			}

			.jsconfirm-timer-progress-bar-container {
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				grid-column: auto !important;
				overflow: hidden;
				background: $jsconfirm-timer-progress-bar-track;
				border-bottom-right-radius: $jsconfirm-toast-border-radius;
				border-bottom-left-radius: $jsconfirm-toast-border-radius;
			}

			div:where(.jsconfirm-timer-progress-bar) {
				width: 100%;
				height: $jsconfirm-toast-timer-progress-bar-height;
				background: $jsconfirm-timer-progress-bar-fill;
			}

			.jsconfirm-toast-divider {
				grid-row: 1/-1 !important;
				grid-column: -1;
				align-self: center;
				height: 36px;
				width: 3px;
				border-radius: 10px;
				background-color: currentColor;
				opacity: 0.2;
				margin: 0 40px 0 5px;
			}

			.jsconfirm-timer-progress-circle-container {
				grid-row: 1/-1 !important;
				grid-column: -1;
				align-self: center;
				justify-self: end;
				width: $jsconfirm-toast-close-button-width;
				height: $jsconfirm-toast-close-button-height;
				overflow: hidden;
				stroke-width: 40;
				stroke-linecap: butt;
				fill: none;
				rotate: -90deg;
				pointer-events: none;

				.jsconfirm-timer-progress-circle-track {
					stroke: $jsconfirm-timer-progress-circle-track;
				}

				.jsconfirm-timer-progress-circle-fill {
					stroke: $jsconfirm-timer-progress-circle-fill;
					stroke-dasharray: 100;
					stroke-dashoffset: 0;
				}
			}

			.jsconfirm-close {
				grid-column: -1;
				grid-row: 1/-1;
				align-self: center;
				justify-self: end;
				appearance: none;
				border: none;
				background: none;
				align-items: center;
				justify-content: center;
				color: $jsconfirm-toast-close-button-color;
				width: $jsconfirm-toast-close-button-width;
				height: $jsconfirm-toast-close-button-height;
				margin: $jsconfirm-toast-close-button-margin;
				font-size: $jsconfirm-toast-close-button-font-size;

				svg {
					height: $jsconfirm-toast-close-button-font-size;
				}
			}

			.jsconfirm-html-container {
				margin: $jsconfirm-toast-html-container-margin;
				padding: $jsconfirm-toast-html-container-padding;
				overflow: initial;
				font-size: $jsconfirm-toast-html-container-font-size;
				text-align: initial;
				line-height: $jsconfirm-toast-html-container-font-size;
				grid-row: 2/3;
				grid-column: 2/3;
				align-self: center;

				&:empty {
					padding: 0;
				}
			}

			.jsconfirm-loader {
				grid-column: 1/2;
				grid-row: 1/-1;
				align-self: center;
				width: $jsconfirm-toast-icon-size;
				height: $jsconfirm-toast-icon-size;
				margin: 0;
			}

			@import 'icons';
			
			.jsconfirm-icon {
				grid-column: 1/2;
				grid-row: 1/-1;
				align-self: center;
				height: $jsconfirm-toast-icon-size;
				margin: 0;

				.jsconfirm-icon-content {
					display: flex;
					align-items: center;
					font-size: $jsconfirm-toast-icon-size;
					font-weight: bold;
				}
			}

			.jsconfirm-actions {
				justify-content: flex-start;
				height: auto;
				margin: 0;
				margin-top: 0.5em;
				padding: 0 0.5em;
			}

			.jsconfirm-styled {
				margin: 0.25em 0.5em;
				padding: 0.4em 0.6em;
				font-size: $jsconfirm-toast-buttons-font-size;
			}
		}

		&.jsconfirm-show {
			animation: $jsconfirm-toast-show-animation;
		}

		&.jsconfirm-hide {
			animation: $jsconfirm-toast-hide-animation;
		}

		@mixin toast-type($color) {
			content: "";
			width: 12px;
			border-radius: 8px 0 0 8px;
			border-width: 0;
			border-left-width: 5px;
			border-style: solid;
			border-color: $color;
			// background-color: $jsconfirm-toast-background;
			position: absolute;
			box-sizing: border-box;
			top: 0px;
			bottom: 0px;
			left: 0px;
			z-index: 2;
		}
		
		$toast-type-body-padding: 8px 10px 8px 20px;
		
		&.jsconfirm-blue {
			--jsconfirm-primary: #{$blue};

			.jsconfirm-body {
				// border-left: solid 4px $blue;
				animation-name: type-blue;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($blue);
				}
			}
		}

		&.jsconfirm-green {
			--jsconfirm-primary: #{$green};

			.jsconfirm-body {
				// border-left: solid 4px $green;
				animation-name: type-green;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($green);
				}
			}
		}

		&.jsconfirm-red {
			--jsconfirm-primary: #{$red};

			.jsconfirm-body {
				// border-left: solid 4px $red;
				animation-name: type-red;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($red);
				}
			}
		}

		&.jsconfirm-yellow {
			--jsconfirm-primary: #{$yellow};

			.jsconfirm-body {
				// border-left: solid 4px $yellow;
				animation-name: type-yellow;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($yellow);
				}
			}
		}

		&.jsconfirm-purple {
			--jsconfirm-primary: #{$purple};

			.jsconfirm-body {
				// border-left: solid 4px $purple;
				animation-name: type-purple;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($purple);
				}
			}
		}

		&.jsconfirm-dark {
			--jsconfirm-primary: #{$dark-gray};

			.jsconfirm-body {
				// border-left: solid 4px $dark-gray;
				animation-name: type-dark-gray;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($dark-gray);
				}
			}
		}

		&.jsconfirm-light {
			--jsconfirm-primary: #{$light-gray};

			.jsconfirm-body {
				// border-left: solid 4px $light-gray;
				animation-name: type-light-gray;
				padding: $toast-type-body-padding;
				
				&::after {
					@include toast-type ($light-gray);
				}
			}
		}
	}
}